@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');
* {
    margin: 0;
    background-color: #121212;
}

header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    border-bottom: 1px solid gray;
}

header img {
    padding-top: 9px;
    padding-left: 9px;
}

.profile {
    background-color: #474545;
    padding: 16px;
    border-radius: 10px;
    position: fixed;
    top: 3.5rem;
    left: 0.75rem;
    color: white;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    opacity: 50%;
}

header h1 {
    padding-top: 2px;
    padding-bottom: 6px;
    background-image: linear-gradient(to left, #e66465, #9198e5);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

#box {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

#keybo1 {
    position: fixed;
    bottom: 8rem;
    left: 29rem;
}

#keybo2 {
    position: fixed;
    bottom: 4.25rem;
    left: 30.80rem;
}

#keybo3 {
    position: fixed;
    bottom: 0.50rem;
    left: 29rem;
}

#keyboard {
    display: block;
}

.coll {
    display: inline-block;
    margin: 0.25rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 20px;
    height: 20px;
    border: 2px solid #757575;
    color: white;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
}

#keyboard {
    align-items: center;
}

.keybo {
    display: inline-block;
    background-color: gray;
    margin: 0.25rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.keybo:hover {
    background-color: #474545;
    cursor: pointer;
}